*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 5px;
}

main{
    display: flex;
    width: 100%;
    border: 1px solid;
    padding: 5px;
    justify-content: space-between;
}

main aside{
    width: 14%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80vh;
    background-color: rgba(0, 0, 0, 0.753);
    padding: 45px 0px 45px 45px;
}

aside ul{
    list-style: none;
    color: whitesmoke;
}

aside ul li{
    font-size: 1.1rem;
    line-height: 1.8rem;
}

main section{
    width: 86%;
    background-color: whitesmoke;
    padding-left: 2rem;
}

section header{
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 20px;
    margin: 20px 5px;
}

header nav{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}

nav a{
    list-style: none;
    text-decoration: underline;
}

.container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.3rem;
    flex-wrap: wrap;
}

.container .block{
    flex: 1 1 auto;
    background-color: rgba(0, 0, 0, 0.753);
    margin: 5px;
    font-size: 4rem;
    text-align: center;
    padding: 1.8rem 0;
    color: whitesmoke;
}

section h1{
    text-align: center;
    margin: 1rem;
}

@media (max-width: 44rem) {
    main{
        flex-direction: column;
    }

    main aside{
        width: 100%;
        height: 40vh;
        padding: 35px;
    }

    aside ul li{
        font-size: 1rem;
        line-height: 1.5rem;
    }

    main section{
        width: 100%;
        padding: 0;
    }

    section header{
        margin: 15px;
        margin-bottom: 0;
    }

    header nav{
        width: 100%;
    }

    .container .block-3{
       flex-basis: 100%;
    }
}